@charset "UTF-8";

@font-face {
    font-family: 'Ultimate';
    src: url('../fonts/ultimate-serial-extrabold-regular.ttf');
}
/* Menu */
#tab-about {
    background-color: #02c49a;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

/* Posicionamento e estilo do conteúdo */
div#content-container {
    width: 100%;
    background-color: #02c49a;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
}

article {
    display: flex;
    flex-flow: column wrap;
    text-align: justify;
    justify-content: center;
    margin-top: 5px;
    padding: 20px 0px 10px 25px;
    width: 100%;
    margin-right: 35px;
}

section {
    width: 100%;
}

section > h1 {
    display: flex;
    flex-flow: row nowrap;
    font-size: 27px;
    margin-bottom: 20px;
    color: #fff;
}

section > p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    font-size: 17px;
    color: rgb(120, 117, 117);
    margin-bottom: 50px;
    color: #fff;

}

section > p > a {
    color: #ffffff;
    text-decoration-style: dashed;
    text-underline-offset: 5px;

}

section > p > a:hover {
    color: #ededed;

}

/* Posicionamento e estilo da imagem */
div#illustration-container {
    width: 60%;
    display: flex;
    justify-content: center; 
    overflow: hidden;
}

div#illustration-container img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}

/* Container de espaçamento entre o conteúdo principal e o rodapé */
div#content {
    margin-top: 100px;
}

/* Rodapé */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#loading {
    display: none; /* Inicialmente oculto */
    position: absolute; /* Para cobrir o container */
    top: 0;
    left: 0;
    width: 100%; /* Preencher todo o espaço */
    height: 100%; /* Preencher todo o espaço */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    color: #000; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    z-index: 10; /* Fica acima de outros elementos */
    font-size: 20px; /* Tamanho da fonte */
}

/* Media queries para responsividade em diferentes telas */
@media screen and (max-width: 868px) {
    div#content-container {
        align-items: flex-end;
        flex-flow: column nowrap;
        align-items: center; /* Centraliza o conteúdo no eixo horizontal */
    }

    div#illustration-container {
        width: 100%;
        height: auto; /* Ajusta a altura do container da imagem automaticamente para telas menores */
        border-radius: 0px 0px 10px 10px;
    }

    article {
        margin-right: 0;
        padding: 10px; /* Ajusta o padding para telas menores */
        width: 100%; /* Garante que o article ocupe toda a largura disponível */
        margin-top: 10px; /* Adiciona espaço entre os elementos */
    }

    section > h1 {
        font-size: 24px; /* Ajusta o tamanho da fonte para telas menores */
    }

    section > p {
        font-size: 16px; /* Ajusta o tamanho da fonte para telas menores */
        margin-bottom: 20px; /* Ajusta o espaçamento para telas menores */
    }
}