/* Menu */
#tab-about {
    background-color: #02c49a;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

/* Conteúdo */
#container-sobre {
    display: flex;
    width: 100%;
    text-align: justify;
}

#introducao h1 {
    margin-bottom: 20px;
}

#introducao p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3em;
    font-size: 22px;
    color: rgb(120, 117, 117);
}

/* RODAPÉ */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Flex container para o conteúdo principal */
#content {
    flex: 1;
}
