main {
    position: relative;
    bottom: 14px;
}

#cadastrar-container {
    background-color: whitesmoke;
    width: 40%;
    padding: 50px;
    margin: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.23);
}

#titulo {
    margin-bottom: 25px;
}

#cadastrar-container input {
    display: flex;
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    color: #535353;
}

#cadastrar-container p {
    margin-top: 20px;
    font-size: 13px;
}

#cadastrar-container p a {
    text-decoration: none;
    color: #00aa85;
}

#cadastrar-container p a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
}

.cadastrar-box {
    border: 1px solid #00aa85;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}

.cadastrar-box label {
    padding-top: 15px;
    padding-left: 9px;
    font-size: 13px;
    margin: auto;
}

#btn {
    cursor: pointer;
    font-size: 15px;
    padding: 7px;
    border-radius: 5px;
    background-color: #02c49a;
    color: #fff;
    border: none;
}

#btn:hover {
    background-color: #00aa85;
}

