@charset "UTF-8";

@font-face {
    font-family: 'Ultimate';
    src: url('../fonts/ultimate-serial-extrabold-regular.ttf');
}
/* Menu */
#tab-home {
    background-color: #02c49a;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

