/* Menu */
main h1 {
    text-align: center;
    margin-bottom: 25px;
}

#scanner {
    background-color: #02c49a;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

/* [~ Estilo de upload de arquivos] */
#upload-img, label {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

#upload-img {
    display: flex;
    border: 2px solid rgba(120, 120, 120, 0.433);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(186, 186, 186);
    padding: 20px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    height: 300px;
}

#upload-container {
    width: 50%;
    margin: auto;
}

#upload-img:hover {
    background-color: whitesmoke;
}

#upload-container img {
    cursor: pointer;
}

#upload-img input {
    display: none;
}

#upload-txt h4 {
    margin-top: 10px;
    cursor: pointer;
}

/* [~ Resultado da análise da imagem] */

#result {
    text-align: center;
}

#error {
    display: none;
    text-align: center;
    margin-top: 25px;
    padding: 7px;
    border-radius: 15px;
    background-color: #DD1F32;
    color: #fff;
}

/* RODAPÉ */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Flex container para o conteúdo principal */
#content {
    flex: 1;
}

/* Estilos para o footer */
footer {
    background-color: #EFEFEF;
    width: 100%;
    color: rgb(119, 119, 119);
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem; /* Alinha verticalmente o texto */
}