@charset "UTF-8";

/* Destaca a aba "Scanner" no cabeçário */
#tab-scan {
    background-color: #02c49a;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}

div#scanner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Estilo da caixa de pré-visualização da imagem */
div#img-preview {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 400px;
    height: 250px;
    padding: 20px;
    border: 3px solid #9e9c9c;
    margin-top: 20px;
    cursor: pointer;
}

div#img-preview:hover {
    background-color: rgba(194, 194, 194, 0.218);
}

div#img-preview img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}


/* Estilo do botão de selecionar o arquivo */
.file-input-container {
    margin-top: 20px;
    position: relative;
    width: 200px;
    cursor: pointer;
}

.file-input-container input[type="file"] {
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    background-color: #00D7A7;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-file-upload:hover {
    background-color: #04896d;
}

/* Estilo do resultado da análise realizada pelo Scanner */
#title-result {
    font-size: 22px;
    margin-bottom: 15px;
}

div#result {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(176, 226, 243);
    border-radius: 10px;
}

div#result ul {
    padding: 0;
    margin: 0;
}

div#result ul li {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

div#result ul li:nth-child(odd) { /* Cria o efeito zebrado no fundo das etapas da análise */
    background-color: rgb(197, 196, 196);
}

#status { /* Estilo do resultado definitivo */
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #414141;
    color: #fff;
}

#content {
    margin-bottom: 50px;
}

/* Responsividade da caixa de pré-visualização da imagem para celular */
@media screen and (max-width: 600px) {
    div#img-preview {
        width: 100%;
    }
}