@charset "UTF-8";

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Esse arquivo CSS é EXCLUSIVO para o Cabeçário, Posição do Conteúdo Principal e Rodapé */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Fonte da logotipo */
@font-face {
    font-family: 'Ultimate';
    src: url('fonts/ultimate-serial-extrabold-regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    margin-bottom: 50px;
    padding: 14px;
    background-color: #00D7A7;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.071);
}

div#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1008px;
}

/* Estilo da logotipo do site localizada no cabeçário */
div#logotipo {
    font-size: 14px;
}

div#logotipo h1 a {
    font-family: 'Ultimate', sans-serif;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* Estilo do menu localizado no cabeçário */
#menu-scanner, #menu-about, #menu-panel {
    display: none;
}

div#tabs-container {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 20px;
    width: 65%;
}

div#tabs-container nav ul {
    display: flex;
}

div#tabs-container nav ul li {
    list-style-type: none;
}

div#tabs-container nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
}

div#tabs-container nav ul li a:hover {
    background-color: #ffffff;
    color: #00D7A7;
    border-radius: 20px;
    padding: 5px;
}

/* Estilo do perfil do usuário */
div#login {
    position: relative;
    float: left;
}

#username a {
    white-space: nowrap;
    text-decoration: none;
    font-size: 14px;
}

/* Estilo do menu localizado no perfil do usuário */
menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 43px;
    right: 0;
    background-color: #00d7a8c4;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.4s ease, visibility 0.5s ease;
}

menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu ul li:hover {
    background-color: #00d7a8b0;
}

menu ul li a {
    display: block;
    text-align: left;
    box-sizing: border-box;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 20px 50px 20px 20px;

}

#user-icon, #menu-icon {
    cursor: pointer;
}

#user-icon:hover ~ menu,
menu:hover {
    opacity: 1;
    visibility: visible;
}

#user-icon:hover ~ menu,
menu:hover {
    display: block;
}

/* Menu da versão celular */
#menu-icon:hover ~ menu,
menu:hover {
    opacity: 1;
    visibility: visible;
}

#menu-icon:hover ~ menu,
menu:hover {
    display: block;
}

/* Visualização das opções de login e cadastro, 
que só podem ser visíveis se o usuário não estiver logado */
#signup-view, #menu-icon {
    display: none;
}

/* Opções de login e cadastro */
div#login {
    float: right;
}

div#login {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

div#login img {
    cursor: pointer;
}

div#login h4 {
    margin-right: 10px;
    color: #fff;
}

div#login h4 a {
    text-decoration: none;
    color: #fff;
}

div#login h4 a:hover {
    text-decoration: underline;
}

/* Posição do conteúdo principal */
main {
    width: 60.5%;
    margin: auto;
}

/* Flex container para o conteúdo principal */
#content {
    flex: 1;
}

/* Estilo do rodapé do site */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #EFEFEF;
    color: rgb(119, 119, 119);
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

/* Media Queries */

/* Versão para pequenas telas */
@media screen and (max-width: 600px) {
    div#tabs-container {
        display: none;
    }

    menu {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    #menu-scanner, #menu-about, #menu-panel {
        display: block;
    }

    #user-icon, h4 {
        display: none;
    }

    div#logotipo {
        font-size: 13px;
        margin-right: 18%;
    }

    div#login {
        width: 200px;        
    }

    #menu-icon {
        display: block;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }

    menu {
        width: 150px;
        font-size: 14px;
    }

    menu ul li a {
        display: block;
        text-align: left;
        box-sizing: border-box;
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        width: 100%;
        padding: 15px 60px 15px 15px;
    
    }
}

/* Versão para celular */
@media screen and (min-width: 600px) and (max-width: 768px) {
    div#tabs-container {
        display: none;
    }

    menu {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    #menu-scanner, #menu-about, #menu-panel {
        display: block;
    }

    div#logotipo {
        font-size: 13px;
        margin-right: 32%;
    }

    div#login {
        width: 200px;        
    }

    #user-icon, h4 {
        display: none;
    }

    #menu-icon {
        display: block;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }
}

/* Versão para tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    div#tabs-container {
        display: block;
    }

    menu {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    div#about {
        display: block;
    }

    div#logotipo {
        font-size: 13px;
        margin-right: 2%;
        margin-left: 20px;
    }

    div#login {
        width: 200px;        
    }

    #user-icon, h4 {
        display: block;
    }

    #menu-icon {
        display: none;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }
}

