@font-face {
    font-family: 'Ultimate';
    src: url('fonts/ultimate-serial-extrabold-regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#container-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 1080px;
}

header {
    background-color: #00D7A7;
    padding: 14px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.071);
    width: 100%;
    margin-bottom: 60px;
}

#logotipo {
    width: 25%;
}

#logotipo h1 {
    color: #fff;
    cursor: pointer;
    font-family: 'Ultimate', sans-serif;
    display: inline-block
}

/* Configs do menu do cabeçário */
#menu {
    width: 90%;
}

#menu nav {
    display: flex;
}

#menu nav li {
    display: flex;
    list-style-type: none;
}

#menu h4 {
    color: #fff;
}

#menu nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
}

#menu nav li a:hover {
    background-color: #ffffff;
    color: #00D7A7;
    border-radius: 20px;
    padding: 5px;
}

/* Configs do menu do perfil */
#login {
    position: relative;
    display: inline-block;
}

menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 45px; /* Ajuste conforme necessário */
    right: 0;
    background-color: #00d7a8c4;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.4s ease, visibility 0.5s ease;
}

menu ul {
    list-style: none;
    margin: 0;
}

menu ul li:hover {
    background-color: #00d7a8b0;
}

menu ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 17px 24px;
}

#user-icon:hover + menu,
menu:hover {
    opacity: 1;
    visibility: visible;
}

#user-icon:hover + menu,
menu:hover {
    display: block;
}

#login {
    width: 25%;
    float: left;
}

#login {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

#login img {
    cursor: pointer;
}

#login h4 {
    margin-right: 10px;
    color: #fff;
}

#login h4 a {
    color: #ffffff;
    text-decoration: none;
}

#login h4 a:hover {
    text-decoration: underline;
}

/* Corpo */
main {
    width: 70%;
    margin: auto;
}

/* Rodapé */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Flex container para o conteúdo principal */
#content {
    flex: 1;
}

/* Estilos para o footer */
footer {
    background-color: #EFEFEF;
    width: 100%;
    color: rgb(119, 119, 119);
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem; /* Alinha verticalmente o texto */
}
