@font-face {
    font-family: 'Ultimate';
    src: url('fonts/ultimate-serial-extrabold-regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#container-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 1008px;
}

header {
    background-color: #00D7A7;
    padding: 14px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.071);
    width: 100%;
    margin-bottom: 60px;
}

#logotipo {
    font-size: 14px;
    width: 20%;
    float: right;
}

#logotipo h1 a {
    color: #fff;
    cursor: pointer;
    font-family: 'Ultimate', sans-serif;
    display: inline-block;
    text-decoration: none;
}

/* Configs do menu do cabeçário */
#scanner, #about {
    display: none;
}

#menu {
    width: 90%;
}

#menu nav {
    display: flex;
}

#menu nav li {
    display: flex;
    list-style-type: none;
}

#menu h4 {
    color: #fff;
}

#menu nav li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
}

#menu nav li a:hover {
    background-color: #ffffff;
    color: #00D7A7;
    border-radius: 20px;
    padding: 5px;
}

/* Configs do menu do perfil */

#login {
    position: relative;
    float: left;

}

/* Nome de usuário */
#username a {
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

/* Cont. configs do menu do perfil */
menu {
    opacity: 0;
    visibility: hidden;
    position: absolute; /* Muda para 'fixed' para posicionar relativo à tela */
    top: 43px; /* Ajuste conforme necessário */
    right: 0;
    background-color: #00d7a8c4;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.4s ease, visibility 0.5s ease;
}

menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu ul li:hover {
    background-color: #00d7a8b0;
}

menu ul li a {

    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 20px 50px 20px 20px; /* Ajusta o padding para alinhar o texto à direita */
    text-align: left; /* Alinha o texto à direita */
    box-sizing: border-box;
    white-space: nowrap; /* Impede que o texto quebre */

}

#user-icon:hover ~ menu,
menu:hover {
    opacity: 1;
    visibility: visible;
}

#user-icon:hover ~ menu,
menu:hover {
    display: block;
}

/* Menu da versão celular */
#menu-icon:hover ~ menu,
menu:hover {
    opacity: 1;
    visibility: visible;
}

#menu-icon:hover ~ menu,
menu:hover {
    display: block;
}

/* Visualização das opções de login e cadastro */
#signup-view, #menu-icon {
    display: none;
}

/* Opções de login e cadastro */
#login {
    float: right;
}

#login {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

#login img {
    cursor: pointer;
}

#login h4 {
    margin-right: 10px;
    color: #fff;
}

#login h4 a {
    color: #ffffff;
    text-decoration: none;
}

#login h4 a:hover {
    text-decoration: underline;
}

/* Corpo */
main {
    width: 65%;
    margin: auto;
}

/* Rodapé */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Flex container para o conteúdo principal */
#content {
    flex: 1;
}

/* Estilos para o footer */
footer {
    background-color: #EFEFEF;
    width: 100%;
    color: rgb(119, 119, 119);
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem; /* Alinha verticalmente o texto */
}

/* Media Queries */

/* Versão para pequenas telas */
@media screen and (max-width: 600px) {
    #menu {
        display: none;
    }

    menu {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    #scanner, #about {
        display: block;
    }

    #logotipo {
        font-size: 13px;
        margin-right: 18%;
    }

    #login {
        width: 200px;        
    }

    #user-icon, h4 {
        display: none;
    }

    #menu-icon {
        display: block;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }

    menu {
        width: 150px;
        font-size: 14px;
    }

    menu ul li a {

        display: block;
        color: #fff;
        text-decoration: none;
        width: 100%;
        padding: 15px 60px 15px 15px; /* Ajusta o padding para alinhar o texto à direita */
        text-align: left; /* Alinha o texto à direita */
        box-sizing: border-box;
        white-space: nowrap; /* Impede que o texto quebre */
    
    }
}

/* Versão para celular */
@media screen and (min-width: 600px) and (max-width: 768px) {
    #menu {
        display: none;
    }

    menu {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    #scanner, #about {
        display: block;
    }

    #logotipo {
        font-size: 13px;
        margin-right: 32%;
    }

    #login {
        width: 200px;        
    }

    #user-icon, h4 {
        display: none;
    }

    #menu-icon {
        display: block;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }
}

/* Versão para tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    #menu {
        display: block;
    }

    menu {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 59px;
        right: 0;
        background-color: #00d7a8c4;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: opacity 0.4s ease, visibility 0.5s ease;
    }

    #about {
        display: block;
    }

    #logotipo {
        font-size: 13px;
        margin-right: 2%;
        margin-left: 20px;
    }

    #login {
        width: 200px;        
    }

    #user-icon, h4 {
        display: block;
    }

    #menu-icon {
        display: none;
        margin-left: 85%;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(102%) contrast(103%);
    }
}

